.mainContainer {
  position: absolute;
  width: 100%;
  background: red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.searchBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 18vh;
  position: fixed;
  /* background: white; */
}
.heading {
  font-size: 7vw;
  font-weight: bold;
  margin: 10px;
}
.searchBar {
  width: 70%;
  height: 5vh;
  margin: 10px;
  font-size: 4vh;
  padding: 0px 5px;
  border: 1px solid black;
}
.listContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: fixed;
  margin-top: 36vh;
  height: 64vh;
  overflow-y: scroll;
  width: 100%;
  background: #e9f0f7;
}
.countContainer {
  position: fixed;
  margin-top: 33vh;
  font-weight: bold;
}
.list {
  width: 100%;
}
.job:hover {
  background: #dedad9;
}
.loader {
  font-size: 4vh;
}
