.filtersContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  font-weight: bold;
  height: 18vh;
  position: fixed;
  top: 18vh;
  /* background: white; */
}
.singleFilter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}
.selectBox {
  width: 25vw;
  height: 5vh;
  background: white;
}
